*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.nav-ham{
    width: 30px;
    height: 30px;
    margin: 20px 0 20px 0;
    
}

.caja-nav-ham{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-ham a img{
    width: 100%;
    height: 100%;
}



@media ( min-width: 762px ){
    body{
        width: 1080px;
        margin: 0 auto;
    }
    .main-header{
        display: flex;
        
    }
}


.caja-header-title{
    background-color: blueviolet;
    padding: 35px;
    border-radius: 40px;
    margin: 15px 30px 20px -40px;
    text-align: left;
    word-wrap: break-word;
}

@media ( min-width: 762px ){
    .caja-header-title{
        padding: 120px;
        width: 620px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
    }

    .caja-header{
        width: 620px;
    }
}

.header-title{
    padding-left: 30px;
}

.header-title h1{
    color: white;
}

.header-legend{
    width: auto;
    margin:46px 20px; 
}

.caja-header-img{
    width: 250px;
    height: 150px;
}

@media ( min-width: 762px ){
    .caja-header-img{
        width: 500px;
        height: 300px;
    }
     
}

.header-img{
    width: 100%;
    height: 100%;
}

.img-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img{
    margin-top: 20px;
}

.about-img-size{
    width: 300px;
}

.about-img-icon{
    background-color: blueviolet;
    border-radius: 100px;
    padding:50px 20px 20px 20px;
    margin: 100px -15px 100px -15px;
    position: relative;
    
}

.about-text{
    margin: 20px 20px;
}

.card-box{
    background-color: #F1EFEF;
    margin: 50px 32px;
    border-radius: 25px;
    height: 350px;
}

.card-item-bg{
    background-color: blueviolet;
    height: 100px;
    width: 100px;
}

.card-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
}

.card-item-position{
    padding: 50px 50px 20px 50px;
}

.feedback-box{
    margin: 60px 20px;
}

.card-item-text{
    margin: 20px 0 ;
}

@media ( min-width: 762px ){
    .about-section{
        display: flex;
    }
     
}

@media ( min-width: 762px ){

    .cards-box{
        display: flex;
    }
    .card-box{
        width: 300px;
    }
}